{% extends 'parent.html.twig' %}
{% block Title %}page annonce{% endblock %}
{% block titre1 %}
<h1>galerie</h1>
{% endblock %}

{% block content %}
<p>je suis un galerie</p>
{% endblock %}

{% block image %}
<img src="{{asset ('images/photo1.jpg')}}" alt="">
<img src="{{asset ('images/photo2.jpg')}}" alt="">
{% endblock %}