{% extends 'parent.html.twig' %}

{% block titre1 %}
<h1>contact</h1>
{% endblock %}

{% block image %}
<img src="{{asset ('images/photo2.jpg')}}" alt="">
{% endblock %}

{% block content %}
<h2> contact </h2>
{{ include('contact/_form.html.twig') }}

 <div class ={{class}}><p>{{messageConfirmation}}</p></div>
{% endblock %}




{% block footer %}
<p>je ne suis pas ton pere</p>
{% endblock %}